<p>
<% @results['results'].each do |event| %>
    Group: <%= event['group']['name']  %><br>
    Event: <%= event['name']  %><br>
    Venue: <%= event['venue']['name'] %><br>
    Date: <%= event['venue']['name'] %><br>
    <hr>
  <% end %>
</p>
