<h1>About Us</h1>

<ul id="about_us">
  <li>Laura Montemayor</li>
  <li><a href="mailto:laumontemayor@gmail.com">laumontemayor@gmail.com</a></li>
  <li><a href="https://twitter.com/laumontemayor">@laumontemayor</a></li>
  <li><a href="https://twogirlscode.com">Two Girls Code Blog</a></li>

  <li>Eva Gabriela Zamudio (Gaby)</li>
  <li><a href="mailto:gabriela.osu@gmail.com">gabriela.osu@gmail.com</a></li>
  <li><a href="https://twitter.com/EvaGZamudio">@EvaGZamudio</a></li>

  <li>Chantal Emmanuel</li>
  <li><a href="mailto:cemmanuel1@gmail.com">cemmanuel1@gmail.com</a></li>
  <li><a href="https://twitter.com/chantalemmanuel">@chantalemmanuel</a></li>
  <li><a href="https://twogirlscode.com">Two Girls Code Blog</a></li>
</ul>
