  <head>
    <title>Tech Women| <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>

      To get help on this sample app, see the
      <a href="http://www.sample.com/help">Women in Tech help page</a>.
    </p>
  </body>
