<div class="center hero-unit">
  <h1>Welcome to Tech Women</h1>

  <h2>
    A social network for women in technology
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

