<div class="center hero-unit">
  <h1>Tech Women will be launching soon!</h1>

  <h2>
    A social networking site for women in technology
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<center><a class="twitter-timeline" href="https://twitter.com/TechWomenUs" data-widget-id="397821602055737345">Tweets by @TechWomenUs</a></center>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


