<div class="center hero-unit">
  <h1>Welcome to Tech Women Skeleton</h1>

  <h2>
<<<<<<< HEAD
    This is the home page for my 
    <a href="http://railstutorial.org/">Our Home Page</a>
=======
    This is the home page for 
    <a href="http://www.example.com">Our Women in Tech APP</a>
>>>>>>> c1dc61d7a6608cad32794e9ff8d912a39b16bfcf
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<<<<<<< HEAD
=======
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
>>>>>>> c1dc61d7a6608cad32794e9ff8d912a39b16bfcf
